* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background: linear-gradient(90deg, #18c4c4 1.09%, #3b38dc 169.61%);

    font-family: "Nunito", sans-serif;
}

ul {
    list-style-type: none;
}

.btn {
    cursor: pointer;
}

.hide {
    display: none !important;
}

.fa-solid {
    color: #fff;
}

.blur {
    filter: blur(2px);
}

.container {
    padding: 0 12px;

    @media (max-width: 421px) {
        width: 100%;
    }
}

.header {
    &__title {
        text-align: center;
        font-weight: 400;
        font-size: 42px;
        line-height: 49px;
        letter-spacing: 0.01em;
        color: #fefefe;
        margin-bottom: 40px;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-bottom: 30px;

        @media (max-width: 421px) {
            justify-content: space-between;
        }

        &__input {
            height: 35px;
            border: solid 1px #219aa1;
            width: 350px;
            padding-left: 8px;

            font-weight: 500;
            font-family: "Nunito", sans-serif;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0.01em;
            color: #070707;

            @media (max-width: 421px) {
                width: 90%;
            }

            &:focus {
                outline-color: #19b1ba;
            }
        }

        &__button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 35px;
            height: 35px;
            border: solid 2px #19c1ca;
            background-color: #fff;
            transition: 400ms;
            border-radius: 4px;

            .fa-solid {
                color: #288c91;
            }

            &:hover {
                background-color: #288c91;
                transition: 500ms;
                border-color: #fff;

                .fa-solid {
                    color: #ffffff;
                }
            }
        }
    }
}

.list {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 12px;

    @media (max-width: 421px) {
        width: auto;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ffff;
        border: solid 2px #18c4c4;
        border-radius: 2px;
        padding: 2px 8px;
        height: 35px;
        width: 100%;
        transition: 200ms;

        &__wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }

        &__title {
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0.01em;
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &__buttons {
            display: flex;
            z-index: 1;
            gap: 6px;

            .btn {
                display: flex;
                align-items: center;
                justify-content: center;
                border: none;
                width: 25px;
                height: 25px;
                border: solid 1px transparent;
                transition: 400ms;
            }
        }
        &__check__button {
            background-color: #41d02a;

            &:hover {
                transition: 500ms;

                .fa-solid {
                    color: #41d02a;
                }
                background-color: #fff;
                border-color: #41d02a;
            }
        }
        &__delete__button {
            background-color: #e12121;

            &:hover {
                transition: 500ms;

                .fa-solid {
                    color: #e12121;
                }
                border-color: #e12121;
                background-color: #fff;
            }
        }
        &__close__button {
            display: none !important;
        }
    }

    &__item-checked {
        position: relative;
        width: 360px;

        @media (max-width: 421px) {
            width: 90%;
        }

        &::after {
            content: "";
            background-color: #8d8d8d6e;
            position: absolute;
            width: inherit;
            height: 33px;

            @media (max-width: 421px) {
                width: 100%;
            }
        }

        .list__item__title {
            font-size: 14px;
            text-decoration: line-through;
        }

        .btn {
            width: 22px;
            height: 22px;
        }

        .list__item {
            &__check__button {
                display: none;
            }

            &__delete__button {
                background-color: #e12121;

                &:hover {
                    .fa-solid {
                        color: #e12121;
                    }
                    border-color: #e12121;
                    background-color: #cecece;
                }
            }

            &__close__button {
                display: flex !important;
                align-items: center;
                justify-content: center;
                background-color: #313131;

                &:hover {
                    transition: 500ms;

                    .fa-solid {
                        color: #313131;
                    }
                    background-color: #cecece;
                    border-color: #313131;
                }
            }
        }
    }
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: rgba(142, 142, 142, 0.437);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        z-index: 3;
        background-color: #fff;
        width: 320px;
        height: 131px;
        border-radius: 4px;
        margin: 0 12px;
    }

    &__title {
        font-weight: 500;
        font-size: 16px;
        line-height: 125.9%;
        width: 167px;
        text-align: center;
        letter-spacing: 0.01em;
    }

    &__buttons {
        display: flex;
        gap: 16px;

        .btn {
            height: 35px;
            font-weight: 600;
            font-size: 14px;
            line-height: 19px;
            text-align: center;
            letter-spacing: 0.01em;
            border-radius: 4px;
            color: #fff;
            border: none;
        }
    }

    &__cancel__button {
        width: 81px;
        background-color: #ee3a3a;

        &:hover {
            background-color: #bf3434;
        }
    }

    &__confirm__button {
        width: 151px;
        background-color: #3ad021;

        &:hover {
            background-color: #30a71b;
        }
    }
}
